<!DOCTYPE html>
{% extends "suchana_html/base.html"%}
{% load static %}
{% block body_block%}
<div class="container">
	<p></p>
	<h3 style="font-weight:bold;">About Us</h3>

<p>We are a team of tech enthusiasts dedicated to providing the latest news, trends, and insights in the world of technology.Our mission is to help you stay up-to-date with the latest developments in the tech industry and provide you with valuable information that can help you make informed decisions about technology products and services.
</p>
 <p>Whether you're a tech professional, a student, or a casual tech user, we aim to provide you with content that is informative, engaging, and easy to understand. We strive to present complex technology concepts in a way that is accessible to everyone.</p>

 <p>We also encourage community engagement and feedback. We welcome your comments, suggestions, and questions, and we are always looking for ways to improve our website and serve our readers better.</p>

 <h5 style="font-weight:bold;">Our Core Team Members are :</h5>

<p>Ram Kumar Mandal - chief Editor 
   Email:rk19mandal@gmail.com
</p>
</div>

{%endblock%}

