<!DOCTYPE html>
{% extends "suchana_html/base.html"%}
{% load static %}
{% block body_block%}
 
 <div class="container">
 	<p></p>
<h2 style="font-weight:bold">Contact Us</h2>
<p>We also encourage community engagement and feedback. We welcome your comments, suggestions, and questions, and we are always looking for ways to improve our website and serve our readers better.
</p>
<h5 style="font-weight:bold">Contact Details:</h5>
<ol style="list-style-type:inherit;">
	<li>Contact Person: Ram Kumar Mandal</li>
	<li>Address: Imadol,Mahalaxmi-01,Lalitpur,Nepal</li>
	<li>Email: techsuchananepal@gmail.com</li>
	<li>Phone Number: +977-9840063252</li>
</ol>

<h6>you can also contact us through our social media contacts:</h6>
 <p style="font-weight:bold;">Facebook:</p>
 <p>www.facebook.com/techsuchana</p>
 <p style="font-weight:bold">Twitter:</p>
 <p>www.twitter.com/TechSuchana</p>
</div>
{%endblock%}
